* {
    margin-top:0px;
    margin-left : 0px;
    margin-right : 0px;
}
nav {
    background : white;
    height : 50px;
    box-shadow :0px 2.5px 8px rgb(0,0,0,0.5);
}
nav ul{
    list-style : none;
    float : right;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
    display : inline-block;
    margin-right : 20px;
    margin-top: 15px;
}
nav ul li a {
    text-decoration: none;
    color : black;
}

main {
    margin-top : 50px;
}
#blocks {
    display:flex;
    flex-wrap: wrap;
    justify-content : center;
}
#block1 {
    height : 400px;
    width : 400px;
    display : inline-block;
    border-radius : 10px;
    box-shadow :0px 0px 10px rgb(0,0,0,0.5);  /*1st parameter - to shift the center of shadow(2nd parameter) whose radius is 3rd parameter */
    background-image: linear-gradient(130deg, blue, rgb(124, 18, 124)); 
}
#block2 {
    height : 400px;
    width : 400px;
    display : inline-block;
    border-radius : 10px;
    border : solid;
    border-width : 1px;
    margin : 0px 20px;
}
#image1 {
    height : 400px;
    margin-left : 10px;
}
#block3 {
    height : 400px;
    width : 400px;
    display : inline-block;
    border-radius : 10px;
    box-shadow :0px 0px 8px rgb(0,0,0,0.5) inset;
}

#s1{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
    margin-top : 45px;
    margin-left : 45px;
}
#s2{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
   
}
#s3{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
   
}
#s4{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
    margin-left : 45px;
    
}
#s5{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
    
}
#s6{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
   
}
#s7{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
    margin-left : 45px;
}
#s8{
    background-color:rgb(17, 17, 149);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
  
}
#s9{
    background-color:rgb(126, 7, 7);
    border-radius : 10px;
    height : 100px;
    display:inline-block;
    width:100px;
}
@media screen and (max-width: 1280px) and (min-width: 877px) {
    #block1 {
        width: 95%;
        margin-bottom: 15px;
    }
    #block2 {
        margin-left : -5px;
    }
    #block3 {
        margin-right : 0px;
    }
}
@media screen and (min-width: 601px) and (max-width: 876px) {
    #block1 {
        width : 95%;
        display : block;
        margin-bottom : 15px;
    }
}
@media screen and (max-width : 600px) {
    #block1{
        width : 300px;
        height : 300px;
        margin-bottom : 15px;
        display : grid;
    }
    #block2 {
        width : 300px;
        height : 300px;
        margin-bottom : 15px;
        display : grid;
    }
    #image1 {
        width : 280px;
        height : 300px;
    }
    #block3 {
        width : 300px;
        height : 300px;
    }
    #s1, #s2,#s3, #s4,#s5, #s6,#s7, #s8, #s9 {
        height : 75px;
        width : 75px;
    }
    #s1 {
        margin-top : 33.75px;
        margin-left : 33.75px;
    }
    #s4,#s7 {
        margin-left : 33.75px;
    }
    nav {
        height : 140px;
    }
    nav ul {
        float : none;
        text-align: center; 
        padding-top: 10px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

